**Set** 
* index ile erişilemezler. unordered yani sıralı değillerdir. (liste ve tuppledan farklı olarak). bir sete erişmek istediğinizdeseti sıralama her seferinde farklılaşacaktır.
* Set'ler değiştirilemezler, yani immutable. (tupledan farkı set'lere yeni eleman ekliyebiliyoruz, random olarak silebiliyoruz) Ama setin içerisindeki bir elemanı değiştiremiyoruz.
* {} parantez içerisindie tanımlanır. Elemanlar virgül ile ayrılır.
* Farklı tipte veri taşımaya izin verir.
* Aynı değere sahip iki eleman yer alamaz. Duplicate veri taşımazlar.

In [2]:
int_set = {1,2,3,4}
string_set = {"Betül" , "Sena" , " Ayşe"}

mix_set = {8, "Merve" , 1578.4, False}

print(mix_set)

{8, False, 1578.4, 'Merve'}

veri yapısının türünü hatırlayamazsak parantezlere bak 

print(type(mix_set)) 

olarak anlayabilirsin.

In [3]:
my_set = {1, 3, 8, 1, 2, 8, 0, 9}
print(my_set)

{0, 1, 2, 3, 8, 9}

In [10]:
my_list = [1, 3, 8, 1, 2, "Ece", "Ece", True, 8, False, 0, 9, 19, False, 3, 2]
print(my_list)

my_set = set(my_list)
print(my_set)

[1, 3, 8, 1, 2, 'Ece', 'Ece', True, 8, False, 0, 9, 19, False, 3, 2]
{False, 1, 2, 3, 8, 9, 'Ece', 19}

In [12]:
#Set içerisinde list kullanımı
my_set = {"Ayşe Nur", "Duygu", "Başak", ["Müzeyyen", "İrem", "Nihal"]}

print(my_set)

TypeError: unhashable type: 'list'

Yukarıdaki hata veren kod
set'in içerisine liste ekleyemeyiz. ama tuple kullanabiliriz.
setler değiştirmeye izin vermediği için listenin elemanlarını değiştirebildiğimiz için setlerde iç içe liste kullanamayız.

In [13]:
#Set içerisinde tuple kullanımı
my_set = {"Ayşe Nur", "Duygu", "Başak", ("Müzeyyen", "İrem", "Nihal")}

print(my_set)

{'Başak', 'Ayşe Nur', ('Müzeyyen', 'İrem', 'Nihal'), 'Duygu'}

Boş bir set oluşturma

Boş bir liste ve tuple oluşturmak istediğimizde;
* my_list = []
* my_tuple = ()

Setlerde ise durum farklıdır

In [14]:
empty_set = set()
print(type(empty_set))

<class 'set'>

In [16]:
empty_set = {}
print(type(empty_set))

<class 'dict'>

Elemanlara Erişim

In [17]:
series = {"How I Met Your Mother", "The Big Bang Theory", "Breaking Bad", "Friends", "Person of Interest"}

for item in series:
    print(item)

The Big Bang Theory
How I Met Your Mother
Breaking Bad
Friends
Person of Interest

Set içerisinde Eleman Kontrolü

in kullanarak yaparız, yoksa not in

içinde var mı yok mu

In [18]:
series = {"How I Met Your Mother", "The Big Bang Theory", "Breaking Bad", "Friends", "Person of Interest"}

if "Harry Potter" in series:
    print("Diziler içierisinde mevcut")
else: print("Dizilier içerisinde mevcut değil")

Dizilier içerisinde mevcut değil

Bir setin uzunluğunu bulurken yine len() metodunu kullanırız

In [20]:
series = {"How I Met Your Mother", "The Big Bang Theory", "Breaking Bad", "Friends", "Person of Interest"}

print("Dizi Setinin Uzunluğu" , len(series))

Dizi Setinin Uzunluğu 5

Bir Set'e Eleman Ekleme

* add() ile sete yeni bir elemen eklenir
* update() ile birden fazla değer eklenir

In [21]:
books = {"Harry Potter", "Serenad", "Mutluluk" , "Merhaba Dünya"}

books.add("Huzursuzluk")

print(books)

{'Merhaba Dünya', 'Harry Potter', 'Mutluluk', 'Serenad', 'Huzursuzluk'}

In [22]:
#add
books = {"Harry Potter", "Serenad", "Mutluluk" , "Merhaba Dünya"}

books.add("Huzursuzluk")
print(books)

books.add("Harry Potter")
print(books)

{'Merhaba Dünya', 'Harry Potter', 'Mutluluk', 'Serenad', 'Huzursuzluk'}
{'Merhaba Dünya', 'Harry Potter', 'Mutluluk', 'Serenad', 'Huzursuzluk'}

In [24]:
#update
books = {"Harry Potter", "Serenad", "Mutluluk" , "Merhaba Dünya"}

books.update(["Körlük", "Sırça Köşk"])

print(books)

{'Harry Potter',
 'Huzursuzluk',
 'Körlük',
 'Merhaba Dünya',
 'Mutluluk',
 'Serenad',
 'Sırça Köşk'}

Bir Set İçerisinden Eleman Silme İşlemini Beş Farklı Şekilde Yapabiliriz

* remove() hangi aralığı silmek istersek değerini veririz. Set içerisinde olmayan bir değeri silmek istersek hata verir.
* discard () remove ile aynı mantık tek farkı olmayan değeri silmek istersek hata vermez.
* pop () rastgele bir eleman çıkartmak istediğmizde kullanırız.
* clear () tüm elemanları siler ve boş bir set oluşturur.
* del set tüm seti siler ve sete ulaşamayız.

In [25]:
#remove()
books = {"Harry Potter", "Serenad", "Mutluluk" , "Merhaba Dünya"}

books.remove("Harry Potter")
books

{'Merhaba Dünya', 'Mutluluk', 'Serenad'}

In [26]:
#discard()
books = {"Harry Potter", "Serenad", "Mutluluk" , "Merhaba Dünya"}

books.discard("Harry Potter")
books

{'Merhaba Dünya', 'Mutluluk', 'Serenad'}

In [44]:
#pop()
books = {"Harry Potter", "Serenad", "Mutluluk" , "Merhaba Dünya"}

books.pop()

books

{'Harry Potter', 'Mutluluk', 'Serenad'}

In [45]:
#clear()
books = {"Harry Potter", "Serenad", "Mutluluk" , "Merhaba Dünya"}

books.clear()

books

set()

In [46]:
#del()
books = {"Harry Potter", "Serenad", "Mutluluk" , "Merhaba Dünya"}

del books

books

NameError: name 'books' is not defined

Set Üzerinde Kullanabileceğimiz Operatörler

* union() | ile kullanırız
* instersection () % ile kullanırız
* difference() - ile kullanırız
* symmetric_difference() ^ ile kullanırız

**Union()** İki seti birleştirmek için kullanırız. Ya union() olarak kullanırız ya da | bu sembol ile kullanabiliriz.

In [47]:
#union
my_set1 = {"Aysel", "Merve", "Emre", "Asena", "Ezgi"}
my_set2 = {"Merve", "Ezgi", "Hatice", "Behice", "Kübra"}

my_set3 = my_set1| my_set2
print(my_set3)

{'Ezgi', 'Hatice', 'Aysel', 'Merve', 'Kübra', 'Emre', 'Behice', 'Asena'}

In [48]:
#union()
my_set1 = {"Aysel", "Merve", "Emre", "Asena", "Ezgi"}
my_set2 = {"Merve", "Ezgi", "Hatice", "Behice", "Kübra"}

my_set4 = my_set1.union(my_set2)
print(my_set4)

{'Ezgi', 'Hatice', 'Aysel', 'Merve', 'Kübra', 'Emre', 'Behice', 'Asena'}

**Intersection(Kesişim)** İki küme içerisinde yer alan ortak elemanları döndürür.

In [49]:
#intersection()
my_set1 = {"Aysel", "Merve", "Emre", "Asena", "Ezgi"}
my_set2 = {"Merve", "Ezgi", "Hatice", "Behice", "Kübra"}

my_set3 = my_set1 & my_set2
print(my_set3)

{'Ezgi', 'Merve'}

In [50]:
#intersection()
my_set1 = {"Aysel", "Merve", "Emre", "Asena", "Ezgi"}
my_set2 = {"Merve", "Ezgi", "Hatice", "Behice", "Kübra"}

my_set4 = my_set1.intersection(my_set2)
print(my_set4)

{'Ezgi', 'Merve'}

intersection_update

In [51]:
my_set1 = {"Aysel", "Merve", "Emre", "Asena", "Ezgi"}
my_set2 = {"Merve", "Ezgi", "Hatice", "Behice", "Kübra"}

my_set1.intersection_update(my_set2)
print(my_set1)

{'Ezgi', 'Merve'}

**Difference** İlk sette olup ikinci sette olmayanı buluruz, farklarını yani

In [52]:
#difference()
my_set1 = {"Aysel", "Merve", "Emre", "Asena", "Ezgi"}
my_set2 = {"Merve", "Ezgi", "Hatice", "Behice", "Kübra"}

my_set3 = my_set1 - my_set2
print(my_set3)

{'Emre', 'Asena', 'Aysel'}

In [54]:
#difference()
my_set1 = {"Aysel", "Merve", "Emre", "Asena", "Ezgi"}
my_set2 = {"Merve", "Ezgi", "Hatice", "Behice", "Kübra"}

my_set4 = my_set1.difference(my_set2)
print(my_set4)

{'Emre', 'Asena', 'Aysel'}

In [56]:
#difference()
my_set1 = {"Aysel", "Merve", "Emre", "Asena", "Ezgi"}
my_set2 = {"Merve", "Ezgi", "Hatice", "Behice", "Kübra"}

my_set4 = my_set1.difference_update(my_set2)
print(my_set1)

{'Emre', 'Asena', 'Aysel'}

**Symmetric Difference** Kesişim dışındaki değerleri almak için kullanılır.

In [59]:
#symmetricDifference
my_set1 = {"Aysel", "Merve", "Emre", "Asena", "Ezgi"}
my_set2 = {"Merve", "Ezgi", "Hatice", "Behice", "Kübra"}

unique_set = my_set1 ^ my_set2
print(unique_set)

{'Kübra', 'Hatice', 'Emre', 'Behice', 'Asena', 'Aysel'}

In [60]:
#symmetricDifference
my_set1 = {"Aysel", "Merve", "Emre", "Asena", "Ezgi"}
my_set2 = {"Merve", "Ezgi", "Hatice", "Behice", "Kübra"}

unique_set = my_set2.symmetric_difference(my_set1)
print(unique_set)

{'Kübra', 'Hatice', 'Emre', 'Behice', 'Asena', 'Aysel'}

In [58]:
#symmetricDifference
my_set1 = {"Aysel", "Merve", "Emre", "Asena", "Ezgi"}
my_set2 = {"Merve", "Ezgi", "Hatice", "Behice", "Kübra"}

my_set4 = my_set1.symmetric_difference(my_set2)
print(my_set4)

{'Kübra', 'Hatice', 'Emre', 'Behice', 'Asena', 'Aysel'}

In [61]:
#symmetricDifference
my_set1 = {"Aysel", "Merve", "Emre", "Asena", "Ezgi"}
my_set2 = {"Merve", "Ezgi", "Hatice", "Behice", "Kübra"}

my_set1.symmetric_difference_update(my_set2)
print(my_set1)

{'Kübra', 'Hatice', 'Emre', 'Behice', 'Asena', 'Aysel'}

union haricinde update ile işlem yapabiliriz

**Kopyalama İşlemleri**

* copy ()
* = 
bu şekilde atama operatörleri ile yaparsek 
* set

In [62]:
# = operatörü ile
my_set = {"Sezen", "Ahmet", True, 18}
my_set2 = my_set

my_set.add("Vildan")
print(my_set2)

{'Sezen', True, 'Vildan', 18, 'Ahmet'}

In [ ]:
#copy metodu ile
my_set = {"Sezen", "Ahmet", True, 18}
my_set2 = my_set.copy()

my_set.add("Vildan")
print(my_set2)

In [63]:
#set metodu ile
my_set = {"Sezen", "Ahmet", True, 18}
my_set2 = set(my_set)

my_set.add("Vildan")
print(my_set2)

{'Sezen', True, 18, 'Ahmet'}